.breadCrumbs {
  a,
  span {
    color: $text;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
    &.crumbs-active {
      color: $lightblue;
    }
    &:hover {
      text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
    }
  }
}
