$personPhotoHeight: 200px;
main.contact-class {
  .contact-form {
    width: 30%;
    max-height: 700px;
    margin-top: 25px;
    position: relative;
    @include max-dv($xl) {
      position: relative;
      bottom: inherit;
      left: inherit;
      width: 100%;
      margin-top: 0;
    }
    p {
      text-align: inherit;
      color: $lightblue;
      font-weight: 500;
      font-size: 26px;
      margin: 0;
      &:first-child {
        color: $darkblue;
      }
    }
    form {
      width: 100%;
      background: $white;
      box-shadow: 0px 0px 15px 0px rgba(201, 201, 201, 1);
      display: flex;
      flex-direction: column;
      padding: 10px 30px 70px 30px;
      position: absolute;
      bottom: 50px;
      left: 0;
      @include max-dv($xl) {
        position: relative;
        bottom: inherit;
        left: inherit;
        margin: $personPhotoHeight 0 100px 0;
      }
      span {
        color: $lightblue;
        font-weight: 500;
        font-size: 26px;
      }
      label {
        margin: 10px 0 0 0;
        color: $text;
      }
      input,
      textarea {
        border: none;
        border-bottom: 1px solid $gray;
        resize: none;
        &:focus {
          outline: none;
        }
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      button {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $lightblue;
        color: $snow;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 40px;
        font-size: 16px;
        transition: 0.3s;
        border: none;
        &:hover {
          background: $lightblue;
          opacity: 0.8;
        }
      }
      $topLength: -200px;
      .person-krzysztof {
        width: 200px;
        height: $personPhotoHeight;
        position: absolute;
        top: $topLength;
        left: 30px;
        z-index: 2;
      }
      .person-dorota {
        width: 150px;
        height: $personPhotoHeight;
        position: absolute;
        top: $topLength;
        left: 30px;
        z-index: 2;
      }
      .action-call {
        position: absolute;
        top: -100px;
        left: 25%;
        background: $snow;
        display: flex;
        padding: 5px 20px 5px 100px;
        align-items: center;
        box-shadow: 0px 0px 15px 0px rgba(201, 201, 201, 1);
        @include xs {
          padding: 10px;
          top: -80px;
          left: 100px;
          z-index: 3;
        }
        @include ipad(prop) {
          left: 15%;
        }
        @include ipad(ipadl) {
          left: 15%;
        }
        @include ipad(prol) {
          left: 40%;
          z-index: 3;
          padding: 5px 20px 5px 20px;
        }
        .fa-mobile-alt {
          font-size: 36px;
          margin-right: 10px;
          color: $lightblue;
        }
        p {
          font-size: 14px;
          margin: 0;
        }
        span {
          font-size: 18px;
        }
      }
    }
  }
}
