footer {
  .wrapper {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background: $white;
  }
  .footer-nav {
    width: 70%;
    @include max-dv($md) {
      width: 100%;
    }
    nav {
      padding: 0;
      position: relative;
      &.navbar {
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 1px solid $gray;
        }
        .navbar-nav {
          position: relative;
          @include max-dv($md) {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          .nav-item {
            position: relative;
            padding-bottom: 5px;
            &:hover::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 8px;
              border-bottom: 1px solid $yellow;
              z-index: 2;
              width: calc(100% - 16px);
            }
            &:first-child {
              .nav-link {
                padding-left: 0;
              }
            }
            .nav-link {
              color: $text;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .footer-rights {
      margin-top: 20px;
      @include max-dv($md) {
        text-align: center;
        margin-top: 5px;
      }
      @include ipad(ipadl) {
        margin-top: 5px;
      }
      a {
        color: $text;
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
  .social-active {
    width: 30%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    @include max-dv($md) {
      width: 100%;
      align-items: center;
    }
    h4 {
      text-transform: uppercase;
      font-size: 26px;
      color: $lightblue;
      letter-spacing: -1px;
      @include ipad(ipadl) {
        font-size: 20px;
      }
    }
    .social-icons {
      display: flex;
      margin-top: 15px;
      @include max-dv($md) {
        margin-bottom: 20px;
      }
      .fab {
        font-size: 26px;
        margin: 0 9px;
        color: $gray;
        cursor: pointer;
        transition: 0.3s;
      }
      .fa-facebook-square {
        margin-left: 0;
        &:hover {
          color: #4267b2;
        }
      }
      .fa-instagram {
        &:hover {
          color: #fb3958;
        }
      }
      .fa-youtube {
        &:hover {
          color: #ff0000;
        }
      }
      .fa-linkedin {
        &:hover {
          color: #2867b2;
        }
      }
      .fa-twitter {
        &:hover {
          color: #1da1f2;
        }
      }
    }
  }
}
