$navBorderHeight: 2px;
header {
  width: 100%;
  height: 100vh;
  background: url("../img/background.png");
  background-size: cover;
  background-position: center;
  position: relative;
  @include max-dv($md) {
    height: 50vh;
  }
  @include land-sm {
    height: 80vh;
  }
  @include ipad(prop) {
    height: 50vh;
  }
  @include ipad(ipadp) {
    height: 30vh;
  }
  @include ipad(prol) {
    height: 70vh;
  }
  @include ipad(ipadl) {
    height: 70vh;
  }
  nav {
    &.wrapper {
      @include max-dv($md) {
        margin: 0;
      }
      @include land-sm {
        margin: 0;
      }
    }
    &.navbar {
      @include max-dv($md) {
        padding: 0;
      }
      @include land-sm {
        padding: 0;
      }
    }
    .navbar-brand {
      @include max-dv($md) {
        display: flex;
        justify-content: center;
      }
      @include land-sm {
        display: flex;
        justify-content: center;
      }
      .header-logo {
        @include max-dv($md) {
          z-index: 2;
        }
        @include max-dv($md - 1) {
          width: 60% !important;
          z-index: 2;
        }
        @include land-sm {
          z-index: 2;
        }
      }
    }
    .navbar-toggler {
      @include max-dv($md) {
        z-index: 2;
      }
      @include land-sm {
        z-index: 2;
      }
    }
    .navbar-collapse {
      display: flex;
      justify-content: center;
      // TODO - RWD dla menu
      @include max-dv($lg) {
        justify-content: flex-end;
      }
      @include max-dv($md) {
        height: 50vh;
        background: $lightblue;
        margin-top: -70px;
        z-index: 0;
      }
      @include land-sm {
        height: 80vh;
        background: $lightblue;
        margin-top: -85px;
        z-index: 0;
      }
      @include ipad(ipadp) {
        margin-top: -85px;
        height: 30vh;
      }
      @include ipad(prop) {
        justify-content: flex-start;
        padding-left: 50px;
      }
      @include ipad(ipadl) {
        justify-content: flex-start;
        padding-left: 50px;
      }
      .navbar-nav {
        border-bottom: 2px solid $snow;
        position: relative;
        @include max-dv($lg) {
          border-bottom: none;
        }
        @include max-dv($md) {
          height: 100%;
          padding-top: 60px;
          display: flex;
          justify-content: flex-start;
        }
        @include land-sm {
          height: 100%;
          padding-top: 60px;
          display: flex;
          justify-content: flex-start;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 100%;
          border-bottom: 2px solid $snow;
          width: 500px;
          @include max-dv($xl) {
            width: 50px;
          }
          @include ipad(prol) {
            width: 200px;
          }
          @include max-dv($lg) {
            display: none;
          }
        }
        .nav-item {
          padding-right: 15px;
          position: relative;
          @include max-dv($lg) {
            padding-right: 0;
          }
          @include max-dv($md) {
            margin: 5px 0;
          }
          @include land-sm {
            margin: 5px 0;
          }
          &:last-child {
            padding: 0;
            padding-bottom: 5px;
            @include max-dv($lg) {
              padding-right: 0;
            }
          }
          &:hover::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            border-bottom: 2px solid $yellow;
            width: calc(100% - 15px);
            @include max-dv($lg) {
              display: none;
            }
          }
          .nav-link {
            color: $snow;
            transition: 0.3s;
            text-transform: uppercase;
            font-weight: 400;
            padding: 0;
            @include max-dv($lg) {
              text-align: right;
            }
          }
        }
      }

      .dropdown-menu {
        background: $lightblue;
        padding: 10px 50px 10px 10px;
        width: 100%;
        min-width: fit-content;
        max-width: 200px;
        margin-top: 1px;
        @include max-dv($md) {
          background: transparent;
          border: none;
          padding: 0;
        }
        @include land-sm {
          background: transparent;
          border: none;
          padding: 0;
        }
        .dropdown-item {
          color: $snow;
          display: flex;
          align-items: center;
          padding: 0;
          font-weight: bold;
          font-size: 14px;
          @include max-dv($md) {
            justify-content: flex-end;
            padding-right: 15px;
          }
          @include land-sm {
            justify-content: flex-end;
            padding-right: 15px;
          }
          &:hover {
            background: $lightblue;
          }
          .fa-chevron-right {
            font-size: 10px;
            margin-right: 5px;
            transition: 0.3s;
            @include max-dv($md) {
              display: none;
            }
            @include land-sm {
              display: none;
            }
          }
        }
      }
    }
    .navbar-nav {
      @include max-dv($lg) {
        padding-right: 12px;
      }
    }
    .navbar-contact {
      z-index: 2;
      padding-left: 20px;
      .fa-phone-alt {
        font-size: 30px;
        color: $snow;
      }
      @include min-dv($md + 1) {
        display: none;
      }
      @include land-sm {
        display: block;
      }
    }
  }
  .info-box {
    background: $lightblue;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 60px 30px 30px;
    font-size: 14px;
    color: $snow;
    @include max-dv($lg) {
      display: none;
    }
    @include max-dv($md) {
      width: 100%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-50vh);
      transition: 0.3s;
      padding: 30px 30px 30px 30px;
    }
    @include land-sm {
      width: 100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-80vh);
      transition: 0.3s;
      padding: 30px 30px 30px 30px;
    }
    @include ipad(ipadp) {
      height: 30vh;
    }
    span {
      text-transform: uppercase;
    }
    p {
      margin: 0;
      font-weight: bold;
      &:nth-child(2) {
        font-size: 18px;
      }
    }
    &.active {
      @include max-dv($md) {
        transform: translateY(0);
      }
      @include land-sm {
        transform: translateY(0);
      }
    }
  }
}
