body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 14px;
  background: $snow;
}

.wrapper {
  margin: 0 10%;
  @include max-dv($md - 1) {
    margin: 0 5%;
  }
  @include xs {
    margin: 0 5px;
  }
}

.dropdown-toggle::after {
  display: none;
}
