main.austria-content {
  h2 {
    font-size: 26px;
    color: $text;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  p {
    color: $text;
    text-align: center;
  }
  .content-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include max-dv($xl) {
      flex-direction: column;
    }
    .offer-box-destination {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 50px 0 50px 0;
      width: 64%;
      box-shadow: 0px 0px 15px 0px rgba(201, 201, 201, 1);
      background: $white;
      @include max-dv($xl) {
        width: 100%;
      }
      .offer-item {
        display: flex;

        position: relative;
        background: $white;
        @include max-dv($md) {
          flex-direction: column;
        }
        @include ipad(prop) {
          max-width: 100%;
          min-width: 100%;
        }
        @include ipad(prol) {
          max-width: 100%;
          min-width: 100%;
        }
        @include ipad(ipadl) {
          max-width: 100%;
          min-width: 100%;
        }
        img {
          @include xl {
            width: 400px;
          }
        }
        .item-content {
          height: 100%;
          display: flex;
          flex-direction: column;
          padding: 0 20px 10% 20px;
          justify-content: space-around;
          @include ipad(ipadp) {
            padding-top: 20px;
          }
          h3 {
            color: $lightblue;
          }
          p {
            text-align: left;
          }
        }
        a {
          position: absolute;
          bottom: 0;
          right: 0;
          background: $lightblue;
          color: $snow;
          text-decoration: none;
          text-transform: uppercase;
          padding: 10px 20px;
          font-size: 16px;
          transition: 0.3s;
          &:hover {
            background: $lightblue;
            opacity: 0.8;
          }
        }
      }
      .gallery {
        width: 100%;
        h4 {
          color: $lightblue;
          padding: 15px 10px 10px 20px;
          font-size: 18px;
        }
        .slider-box {
          position: relative;
          .prev-arrow,
          .next-arrow {
            position: absolute;
            top: 50%;
            left: 0;
            height: 100%;
            background: rgba(255, 255, 255, 0.8);
            transform: translateY(-50%);
            z-index: 5;
            display: flex;
            align-items: center;
            padding: 0 5px;
            cursor: pointer;
          }
          .next-arrow {
            position: absolute;
            top: 50%;
            right: 0;
            left: inherit;
            transform: translateY(-50%);
            z-index: 5;
          }
          .fas {
            font-size: 24px;
            color: $lightblue;
          }
        }
        .content-text {
          padding: 20px 20px 30px 20px;
          p {
            text-align: left;
          }
        }
      }
    }
  }
}
