main.home-content {
  h2 {
    font-size: 26px;
    color: $text;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  p {
    color: $text;
    text-align: center;
  }
  .offer-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
    .offer-item {
      max-width: 700px;
      min-width: 500px;
      display: flex;
      box-shadow: 0px 0px 15px 0px rgba(201, 201, 201, 1);
      position: relative;
      margin: 30px 0;
      background: $white;
      @include max-dv($lg) {
        flex-direction: column;
        max-width: fit-content;
        max-width: 51%;
        min-width: 51%;
      }
      @include max-dv($md) {
        flex-direction: column;
        max-width: fit-content;
        max-width: 100%;
        min-width: 100%;
      }
      @include ipad(prop) {
        max-width: 100%;
        min-width: 100%;
      }
      @include ipad(prol) {
        max-width: 100%;
        min-width: 100%;
      }
      @include ipad(ipadl) {
        max-width: 100%;
        min-width: 100%;
      }
      img {
        @include xl {
          width: 400px;
        }
      }
      .item-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px 10% 20px;
        justify-content: space-around;
        @include ipad(ipadp) {
          padding-top: 20px;
        }
        h3 {
          color: $lightblue;
        }
        p {
          text-align: left;
        }
      }
      a {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $lightblue;
        color: $snow;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 20px;
        font-size: 16px;
        transition: 0.3s;
        &:hover {
          background: $lightblue;
          opacity: 0.8;
        }
      }
    }
  }
}
