$personPhotoHeight: 200px;

main.contact {
  .contact-form {
    h3 {
      text-align: center;
      &:first-child {
        color: $darkblue;
        margin-top: 50px;
      }
      &:last-child {
        color: $lightblue;
      }
    }
    .team-box {
      display: flex;
      justify-content: space-between;
      margin-top: $personPhotoHeight;
      @include max-dv($xl) {
        flex-direction: column;
        align-items: center;
      }
      .team-krzysztof,
      .team-dorota {
        width: 45%;
        background: $white;
        box-shadow: 0px 0px 15px 0px rgba(201, 201, 201, 1);
        padding: 10px 30px;
        border-bottom: 2px solid $lightblue;
        position: relative;
        @include max-dv($xl) {
          width: 100%;
          margin-bottom: 250px;
          margin-top: 50px;
        }
        p {
          color: $darkblue;
          font-weight: 500;
          font-size: 16px;
        }
        span {
          color: $text;
        }
        .team-contact {
          display: flex;
          justify-content: space-around;
          margin-top: 20px;
          @include max-dv($md - 1) {
            flex-direction: column;
          }
          @include ipad(prol) {
            flex-direction: column;
          }
          @media (min-width: 1200px) and (max-width: 1600px) {
            flex-direction: column;
          }
          .phone,
          .mail {
            display: flex;
            align-items: center;
            margin-right: 10px;

            span {
              color: $lightblue;
              font-size: 14px;
              margin-left: 10px;
            }
            .fas,
            .far {
              font-size: 20px;
              color: $lightblue;
            }
            .fas {
              @include max-dv($md - 1) {
                margin-right: 9px;
              }
              @include ipad(prol) {
                margin-right: 9px;
              }
              @media (min-width: 1200px) and (max-width: 1600px) {
                margin-right: 9px;
              }
            }
          }
        }
        .person-krzysztof {
          width: 200px;
          height: $personPhotoHeight;
          position: absolute;
          top: -200px;
          left: 30px;
          z-index: 2;
        }
        .person-dorota {
          width: 150px;
          height: $personPhotoHeight;
          position: absolute;
          top: -200px;
          left: 30px;
          z-index: 2;
        }
      }
      .team-dorota {
        @include max-dv($xl) {
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }
    form {
      width: 100%;
      background: $white;
      box-shadow: 0px 0px 15px 0px rgba(201, 201, 201, 1);
      display: flex;
      flex-direction: column;
      padding: 10px 30px 70px 30px;
      margin: 100px 0;
      position: relative;
      .contact-flexbox {
        display: flex;
        height: 100%;
      }
      .contact-basic {
        display: flex;
        flex-direction: column;
        width: 28%;
      }
      .message {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 50px;
        width: 70%;
        textarea {
          min-width: 100%;
          height: 100%;
        }
      }
      span {
        color: $lightblue;
        font-weight: 500;
        font-size: 26px;
        display: block;
        width: 100%;
      }
      label {
        margin: 10px 0 0 0;
        color: $text;
      }
      input,
      textarea {
        border: none;
        border-bottom: 1px solid $gray;
        resize: none;
        &:focus {
          outline: none;
        }
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      button {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $lightblue;
        color: $snow;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 40px;
        font-size: 16px;
        transition: 0.3s;
        border: none;
        &:hover {
          background: $lightblue;
          opacity: 0.8;
        }
      }
      $topLength: -200px;
      .person-krzysztof {
        width: 200px;
        height: $personPhotoHeight;
        position: absolute;
        top: $topLength;
        left: 30px;
        z-index: 2;
      }
      .person-dorota {
        width: 150px;
        height: $personPhotoHeight;
        position: absolute;
        top: $topLength;
        left: 30px;
        z-index: 2;
      }
      .action-call {
        position: absolute;
        top: -100px;
        left: 25%;
        background: $snow;
        display: flex;
        padding: 5px 20px 5px 100px;
        align-items: center;
        box-shadow: 0px 0px 15px 0px rgba(201, 201, 201, 1);
        @include xs {
          padding: 10px;
          top: -80px;
          left: 100px;
          z-index: 3;
        }
        @include ipad(prop) {
          left: 15%;
        }
        @include ipad(ipadl) {
          left: 15%;
        }
        @include ipad(prol) {
          left: 40%;
          z-index: 3;
          padding: 5px 20px 5px 20px;
        }
        .fa-mobile-alt {
          font-size: 36px;
          margin-right: 10px;
          color: $lightblue;
        }
        p {
          font-size: 14px;
          margin: 0;
        }
        span {
          font-size: 18px;
        }
      }
    }
  }
}
